// offset content by the width of the side menu.
header, nav, main, footer {
  padding-left: 250px;
}

@media only screen and (max-width : 992px) {
  nav, header, main, footer {
    padding-left: 0;
  }
}
$primary-color: #80ca37;

// set active link color
.sidenav {
  width: 250px;
  li {
    a.active {
      background-color: $primary-color;
    }
  }
}
