@import "node_modules/materialize-css/sass/components/color-variables";
@import "node_modules/materialize-css/sass/components/color-classes";
@import "materialized-variables";
@import "node_modules/materialize-css/sass/materialize";
@import "ember-content-placeholders";
@import "side-nav";
@import "navbar";


.font-size-position {
  font-size: 18px;
  padding-left: 20px;
}

.select-td {
  width: 15%;
  @media only screen and (max-width : 1100px) {
    width: 25%;
  }
  @media only screen and (max-width : 992px) {
    width: 100%;
  }
}
