<div class="container">
  <StorageDetailContainer as |motor isLoading options|>
    <StorageDetail @motor={{motor}} @isLoading={{isLoading}} @deleteMotor={{options.deleteMotor}} />
  </StorageDetailContainer>
</div>