<nav>
  <SideNavTop />

  <div class="nav-wrapper">
    <a href="javascript:void(0);" class="brand-logo hide-on-med-and-down" >Motor Management System</a>
  </div>
</nav>

<SideNavLeft>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect">Motor Storage</a>
        <div class="collapsible-body">
          <ul>
            <li>{{#link-to "storage.index" class="waves-effect"}}Storage List{{/link-to}}</li>
            <li>{{#link-to "storage.new" class="waves-effect" }}New Motor{{/link-to}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect">Motor Replace</a>
        <div class="collapsible-body">
          <ul>
            <li>{{#link-to "motor-replace.index" class="waves-effect"}}Replace Form List{{/link-to}}</li>
            <li>{{#link-to "motor-replace.replace-form" class="waves-effect"}}Replace Form{{/link-to}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect">Motor Repair</a>
        <div class="collapsible-body">
          <ul>
            <li>{{#link-to "motor-repair.index" class="waves-effect"}}Repair List{{/link-to}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</SideNavLeft>

<main>
  {{outlet}}
</main>