<nav style="background-color: #e0f7fa;">
  <SideNavTop />

  <div class="nav-wrapper">
    <a href="#" class="brand-logo" style="padding-left: 2rem; color: #9e9e9e;">Motor Management System</a>
  </div>
</nav>

<SideNavLeft>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect">Motor Storage</a>
        <div class="collapsible-body" style="display: block;">
          <ul>
            <li>{{#link-to "storage.index" class="waves-effect"}}Storage List{{/link-to}}</li>
            <li>{{#link-to "storage.new" class="waves-effect" }}New Motor{{/link-to}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect">Motor Replace</a>
        <div class="collapsible-body" style="display: block;">
          <ul>
            <li>{{#link-to "motor-replace.index" class="waves-effect"}}Replace Form{{/link-to}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</SideNavLeft>

<main>
  {{outlet}}
</main>